@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply text-gray-900 bg-white;
    }

    .title-font {
        font-family: 'Ubuntu Mono', monospace;
    }

    .greenbtn {
        @apply px-6 h-12 uppercase font-semibold tracking-wider border-2 border-[#3441c0] bg-[#3441c0] text-white hover:border-white disabled:opacity-10;
    }

    .whitebtn {
        @apply px-6 h-12 uppercase font-semibold tracking-wider border border-slate-200 text-slate-900 hover:border-[#3441c0] disabled:opacity-10;
    }

    .redbtn {
        @apply px-6 h-12 uppercase font-semibold tracking-wider border-2 border-black bg-red-400 text-white hover:border-red-400 disabled:opacity-10;
    }

    .ethblu {
        color: #3441c0
    }
}

.anim {
    background: linear-gradient(-45deg, rgba(200, 178, 245, 0.8), rgba(238, 203, 192, 0.8), rgba(135, 169, 240, 0.8), rgba(202, 179, 245, 0.8), rgba(238, 203, 192, 0.8), rgba(184, 251, 246, 0.8));
    background-size: 400% 400%;
    animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}